@import 'shared/variables.scss';

.Loader {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $black, $alpha: 0.3);

  &::after {
    content: '';
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 80px);

    border: 80px solid $peterriver;
    border-radius: 50%;
    border-top-color: $belizehole;
    border-bottom-color: $belizehole;

    animation: rotate 0.6s infinite linear;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
