@import 'shared/variables.scss';

.RecipesList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 30px;

  @include mobileLMedia {
    padding: 10px;
  }
}
