@import 'shared/variables.scss';

.RecipesList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 30px;
}

.RecipeContainer {
  max-width: 1800px;
  margin: auto;
  padding: 10px 30px;
}
