@import 'shared/variables.scss';

.Nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.NavList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 10px 15px;

  list-style: none;
}

.NavLink {
  text-decoration: none;
  color: $midnight-blue;
  font-size: 20px;

  transition: color 0.3s;

  &:hover {
    color: rgba($color: $midnight-blue, $alpha: 0.7);
  }

  @include laptopMedia() {
    font-size: 18px;
  }

  @include mobileLMedia() {
    font-size: 16px;
  }
}

.CurrentPageLink {
  text-decoration: underline;
}
