@import 'shared/variables.scss';

.Title {
  display: block;
  padding: 12px 0;
  font-size: 40px;

  color: $midnight-blue;

  &.Large {
    font-size: 40px;

    @include laptopMedia() {
      font-size: 34px;
    }

    @include mobileLMedia() {
      font-size: 28px;
    }
  }

  &.Medium {
    font-size: 30px;

    @include laptopMedia() {
      font-size: 28px;
    }

    @include mobileLMedia() {
      font-size: 20px;
    }
  }

  &.Small {
    font-size: 20px;
  }
}
