@import 'shared/variables.scss';

.Title {
  display: block;
  padding: 12px 0;
  font-size: 40px;

  color: $midnight-blue;

  &.Large {
    font-size: 40px;
  }

  &.Medium {
    font-size: 30px;
  }

  &.Small {
    font-size: 20px;
  }
}
