@import 'shared/variables.scss';

.Logo {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }
}

.LogoImg {
  width: 70px;

  @include laptopMedia() {
    width: 50px;
  }

  @include mobileLMedia() {
    width: 40px;
  }
}

.LogoText {
  font-size: 28px;
  color: $midnight-blue;

  @include laptopMedia() {
    font-size: 21px;
  }

  @include mobileLMedia() {
    font-size: 19px;
  }
}
