@import 'shared/variables.scss';

.Logo {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }
}

.LogoImg {
  width: 70px;
}

.LogoText {
  font-size: 28px;
  color: $midnight-blue;
}
